.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
  gap: 1em;
}

.App .gallery figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 1em;
  text-align: center;
}

.App .emojis {
  margin: 0 0 1em;
  text-align: left;
}

.App .emojis a {
  font-size: xx-large;
  letter-spacing: 0.5em;
}

.App .demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 1em 1em;
  background-color: #eee;
  border: solid 1px #999;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.App .demo svg,
.App .demo button {
  margin: 1em 0.5em 1em;
}

.App .controls button {
  text-transform: capitalize;
  background: white;
  color: black;
}
.App .controls button.active {
  background: purple;
  color: white;
}
